ul {
    
    list-style-type: none;
    background-color:black;
}

li {
  float:left;
}

li a {
   margin: 0;
   padding: 0;
   overflow: hidden;
   display: inline-block;
   color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
background-color:gray;
}







    
